body{
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1{
    font-size: 42px;
}

/* botoes */

#buttons-container button{
    border:none;
    padding: 10px 15px; /*em cima e embaixo(10), direita-esquerda(15)*/
    margin: 0px 10px;    
}


/* jogo */

#container {
    display: flex; 
    width: 300px;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    
    /*centraliza uma div na tela*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box{
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box; /* a largura max é contando com a borda */
    flex: 1 1 33%; /*garante que tenha 3 divs por linha */
}

#block-1, #block-2, #block-3{
    border-top: none;
}

#block-1, #block-4,#block-7{
    border-left: none;
}

#block-3, #block-6,#block-9{
    border-right: none;
}

#block-7, #block-8, #block-9{
    border-bottom: none;
}


/* simbolos */

.x{
    font-size: 65px;
    color: red;
    display: inline-block; /* para mexer no mesmo bloco que aceita elementos na mesma linha*/
    line-height: 100px; /*centraliza a fonte no bloco dos box que tem 100 de altura*/
}

.o{
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%; /*para transformar o elemento em circulo */
    display: inline-block; /*aceitar elemento um do lado do outro*/
    margin-top: 17px;
}

/* classe esconder */

/*
.hide{
    display: none !important;
}
*/

/* placar */

#scoreboard-container{
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.score-box{
    margin: 0 20px;
}

#x-scoreboard{
    color: red;
    margin-right: 3px;
    
    
}

#o-scoreboard{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 3px;
}

/* mensagem de vitoria */

#message p{
    position: absolute; /* absolute pq a mensagem vem na frente de tudo que estamos vendo*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    top: 150px;
    width: 500px;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 20px;

    display: none;
}
/* 
    caso eu quizesse centralizar todo o conteudo  no centro da tela:

    display: flex;
    flex-direction: column;
    justify-content: center;  centraliza verticalmente 
    align-items: center;   centraliza horizontalmente 
    min-height:100vh;   ocupa toda a altura da tela 
    margin: 0px;

    descartaria o #container removendo:

    margin-left: auto;
    margin-right: auto;

    porque o body já estará centralizando tudo.
    */