*{
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
}

body{
    margin: 0px;
    overflow-x: hidden;
}
/* nav */
#top-container {
    padding-top: 100px;
}
.navbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar.navbar-nav .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}

.nav-item .nav-link.btn.btn-primary{
    color: #fff;
    background-color: #F03E3E;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.btn.btn-primary:hover{
    background-color: #fff;
    color: #F03E3E;
    border-color: #F03E3E;
}


/* banner */

#top-container{
    padding: 110px 15px 30px;
    background-color:#f7f9fc;
    border-bottom: 4px solid #013068;
    margin-bottom: 30px;
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-size: cover;
    color: #FFF;
    box-sizing: border-box;

}

#main-title {
    padding: 30px 0;
    font-size: clamp(0.9rem,5vw,3rem);
    overflow-wrap:break-word;
    overflow-wrap: break-word;
}

#main-subtitle{
    font-size: clamp(0.9rem,2vw,1rem);
    padding-bottom: 80px;
    max-width: 100%;
}

/* form */

#search-form{
    padding: 30px 15px;
    box-sizing: border-box;
    
}

#search-form .col-md-10, #search-form .col-md-2{
    padding: 0px;
    
}

#search-form input, #search-form button{
    width: 100%;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
    box-sizing: border-box;
}

#search-form button{
    color: #FFF;
    background-color:#F03E3E;
    border: 1px solid transparent;
}

#search-form button:hover{
    background-color: #fff;
    color: #F03E3E;
    border-color: #F03E3E;
}

/* lista */


#jobs-container{
    padding: 0px 100px;
}

#job-list .list-group-item{
    margin-bottom: 8px;
    border: 1px solid #ccc;
    padding: 15px 80px;
    color: #212529;
    height: 120px;

}

#job-list .list-group-item p{
    font-size: 14px;
    margin-bottom: 5px;
}

.list-group-item.new-job{
    border: none;
    background-color: #fffccc;
}

#job-list-title{
    margin-bottom: 35px;
    text-align: center;
}

.list-group-item img{
    width: 80px;
    border-radius: 50%; /* deixa a img arredpondada*/
    background-color: #FFF;
    
    position: absolute; /* deixa a img flutuando */
    left: -40px;
    top: calc(50% - 40px);
}

.list-group-item .btn.btn-primary{
 position: absolute;
 right: 20px;
 top: 35px;
 border: 1px solid transparent;
 border-radius: 0;
 background-color: #F03E3E;
 color: #FFF;
 font-weight: bold;
  
}

.list-group-item .btn.btn-primary:hover{  
    background-color: #FFF;
    color: #F03E3E;
    border-color: #F03E3E;
/*tive que deixar a classe bem especificada para pegar a cor do texto ou poderia usar o important como acima */
}

.new-job-label{
    position: absolute;
    right: 250px;
    top: 40px;
    background-color: #FFD500;
    color: #4D5154;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    display: none;
}

.new-job .new-job-label{
    display: block;
}


/**/

/* add page */

#add-form-container{
    margin-top: 100px;
}

#form-box{
    padding: 0;
}